
	@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@500&display=swap');
	
*{
	padding: 0;
	margin: 0;
	font-family: 'Arvo', serif;
	font-family: 'Montserrat', sans-serif;
}

header{
	padding: 3em;
  z-index: 1;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #f5c91c;
}

ul{
	list-style-type:none;
  margin-top: 2em;
}
li{
  color: white;
}
li:hover{
  color: #f5c91c;
}

.navbar{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 1.5%;
  margin-left: 2.5%;
  margin-bottom: 1em;
}


.container{
  color: white;
  display: flex;
	flex-direction: row;
	width: 100%;
  z-index: 10;
}

.main{
	padding: 1rem;
	width: 80%;
  color: white;
}

/************************************
*              ASIDE                * 
*************************************/
.aside{
	padding: 1rem;
	width: 20%;
  color: white;
  margin: 1rem;
}

.neon-wrapper{
    box-shadow:
    0 0 0.1vw  0.4vw yellow,   
    0 0 0.4vw  0.6vw #e97272, 
    0 0   4vw  0.4vw #f5c91c,
    inset 0 0 1.5vw  0.4vw #f5c91c,
    inset 0 0 0.4vw  0.2vw #e97272,
    inset 0 0 0.5vw  0.2vw yellow;
    border-radius: 5px;
  }
  .neon-text {

    padding: 0 3.5rem ;
  }
.neon{
    box-shadow: 
     0 0 0.1vw 0.4vw yellow,
     0 0 0.1vw 0.6vw #e97272,
     0 0 4vw 0.2vw #f5c91c, 
}
.neon-text {
  text-shadow: 
  .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
  .1vw 0vw   0vw #f7d200, .2vw 0vw   0vw #f7d200, .4vw 0vw   0vw #f7d200,
  .1vw 0vw  .1vw #f7d200, .2vw 0vw  .1vw #f7d200, .4vw 0vw  .1vw #f7d200,
  .1vw 0vw   2vw #f7d200, .2vw 0vw   2vw #f7d200, .4vw 0vw   2vw #f7d200, 
  .1vw 0vw   1vw #f5c91c, .2vw 0vw   1vw #f5c91c, .4vw 0vw   5vw #f5c91c, 
  .1vw 0vw   5vw #f5c91c, .2vw 0vw  20vw #f5c91c, .4vw 0vw  10vw #f5c91c,
  .1vw 0vw  10vw #f5c91c, .2vw 0vw  30vw #f5c91c, .4vw 0vw  10vw #f5c91c;
}

.icon{
  margin-top: .5rem;
  margin-bottom: .5rem;
	vertical-align: middle;
  margin-right: .5em;
}
.icon:hover{
  transition: 0.4s;
  transform: scale(1.1);
}


/************************************
*           CANVAS BODY             * 
*************************************/
.bg {
  background-color: black;
  height: auto;
  width: auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(0);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
      transform: translateZ(-1800px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
      524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
      440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
      -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
      -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
      828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
      624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
      563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
      -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
      -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}


/************************************
*         CANVAS FOOTER             * 
*************************************/
footer{

		overflow: hidden;
		
}
.stretch {
	width: 100%;
	height: 20%;
	position: absolute;
	overflow: hidden;
}
#crawl-container {
	perspective: calc(100vh * 0.4);
}
#crawl {
	color: #f5c91c;
	position: absolute;
	width: 100%;
	left: -5%;
	bottom: -5%;
	height: 200%;
	overflow: hidden;

	transform: rotate3d(1, 0, 0, 45deg);
	transform-origin: 50% 100%;

	mask-image: linear-gradient(
	  rgba(0, 0, 0, 0),
	  rgba(0, 0, 0, 0.66),
	  rgba(0, 0, 0, 1)
	);

	-webkit-mask-image: -webkit-linear-gradient(
	  rgba(0, 0, 0, 0),
	  rgba(0, 0, 0, 0.66),
	  rgba(0, 0, 0, 1)
	);
}

#crawl-content {
	font-family: 'Arvo', serif;
	font-family: 'Montserrat', sans-serif;
	font-size: calc(100vw * 0.074);
	letter-spacing: 0.09em;
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	right: 0px;
}

#crawl p {
	text-align: justify;
	width: 100%;
	margin: 0 0 1.25em 0;
	line-height: 1.25em;
}

#crawl h1 {
	font-size: 1em;
	margin: 0 0 0.3em 0;
}

#crawl h2 {
	font-size: 1.5em;
	margin: 0 0 0.7em 0;
}

#crawl h1,
#crawl h2 {
	text-align: center;
}

#particle-canvas{
	width: 100%;
	height: 100%;
	z-index: 0;
}

.footer{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.center{
	text-align: center;
}

/************************************
*              MUSIC                * 
*************************************/
#sound{
  display: flex;
	position: fixed;
	float: right;
	bottom: 0;
	right: 5%;

	padding: 1rem;

	border-radius: 15px 15px 0 0;
  border-top: 4px solid #f5c91c;
  border-left: 4px solid #f5c91c;
  border-right: 4px solid #f5c91c;

	background-color: rgba(0, 0, 0);
}

#musicSelect{
  display: inline-flex;
  align-items: center;
  margin-right: .5rem;

  font-size: 1rem;
	text-decoration: none;
  color: #f5c91c;
	
  border: 0;
	background-color: rgba(0, 0, 0, 0);
}

#playButton{
  display: inline-flex;
	font-size: 2rem;
  color: #f5c91c;
}

option{
	background-color: rgba(0, 0, 0);
	color: #f5c91c;
}

/************************************
*          CARD CONTENT             * 
*************************************/
.card{
  display: flex;
  flex-direction: row;

  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;

  border: 1px solid white;
  border-radius: 15px;
}
.cardCol{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  margin: 2rem;
}
.cardImage{
  width: 20rem;
  padding-right: 1rem;
}
.cardTitle{
  width: 100%;
  padding-bottom: 1rem;

  text-align: center;
  font-size: 2.5rem;
}
.cardBody{
  width: 100%;
  font-size: 1.3rem;
}
.cardBody-2{
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}
.bodyImage{
  padding-top: 1rem;
  margin: auto;
  width: 30rem;
}

.cardVideos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cardVideo{
  display: inline-flex;
  flex-direction: column;

  width: 32rem;
  min-height: 18rem;

  margin: 1rem;
}

/************************************
*          BANNERS ASIDE            * 
*************************************/
.banner{
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;

  border: 2px solid white;
}
.banner-image{
  width: 100%;
  margin: auto;
  text-align: center;
  border-bottom: 2px solid white;
}
.banner-text{
  padding: 1rem;
  text-align: center;
}

/************************************
*           BACKGROUND              * 
*************************************/
body{
  background-color: #000;
}

/************************************
*           BACKGROUND              * 
*************************************/
@font-face {
  font-family: 'StarWars';
  src:  url('font/SF\ Distant\ Galaxy\ AltOutline.ttf') format('truetype')
}

header{
  color: white;
}

.head-title{
  text-align: center;
  text-transform: capitalize;
  font-family: 'StarWars';
  font-size: 6rem;
}